/* font-family: 'Schoolbell', cursive;
font-family: 'Lato', sans-serif; */

/* colors
salmon #fa7C92;
rain: #6EC4DB;
buttermilk: #fff7c0;
leaf: #66AB8C;
light gray: #def2f1;
lighter gray: #f4f5f6;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #fff;
    background-color: #f4f5f6;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    position: relative;
    height: 200vh;
    font-weight: 400;
}

.far { 
    margin-right: 1rem;
     font-size: 3rem;
   }
   
   .header {
     display: flex;
     flex-direction: row;
     font-size: 1rem;
     height: 5rem;
     background-color: #fff;
     color: #555;
     padding: 1rem;
     border-bottom: var(--line);
     font-family: "Schoolbell", cursive;
   }
  
  #introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
    visibility: show;
  }

  .introduction__text {
    color: #66AB8C;
  }
  
  input[type="text"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #fa7C92;
    font-size:3rem;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
  
  ::-webkit-input-placeholder { 
    color:#fa7C92;
  }
  
  input[type="submit"] {
    flex-basis: 30%;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    background-color: #66AB8C;
    color: #fff;
    border-radius: 4px;
    transition-duration: 0.2s;
  }
  
  input[type="submit"]:hover {
    background-color: #fff; /* Green */
    color:#66AB8C;
    border: 2px solid #66AB8C; /* Green */
  }
  
  input[type="submit"]:active {
    background-color: #66AB8C;
    transform: translateY(2px);
  }

#container {
    width: 750px;
    margin: 60px auto;
    visibility: hidden;
}

.card {
    background-color: #fff;
    color: black;
    padding: 10rem;
    text-align: center;
    border-radius: 2px;
}

.card__text--size {
    font-size: 50px;
}

.controls {
margin: 10px auto;
text-align: center;
margin-top: 30px;
}

.arrow__icon {
    display: inline;
    font-size: 20px;
}

.definition__icon{
    display: inline;
}

.icon {
    font-size: 45px;
    background-color: transparent;
    padding: 10px;
    color: black;
    text-align: center;
}

.score {
    color: black;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.btn:active { 
    transform: translateY(2px); 
    border: none;
}

.btn:hover {
    border: 2px solid darkcyan;
}