* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #fff;
    background-color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    position: relative;
    height: 200vh;
    font-weight: 400;
}

.container {
    width: 750px;
    margin: 60px auto;
}

.card {
    background-color: #fff;
    color: black;
    padding: 10rem;
    text-align: center;
    border-radius: 2px;
}

.card__text--size {
    font-size: 50px;
}

.controls {
margin: 10px auto;
text-align: center;
margin-top: 30px;
}

.arrow__icon {
    display: inline;
    font-size: 20px;
}

.definition__icon{
    display: inline;
}

.icon {
    font-size: 45px;
    background-color: transparent;
    padding: 10px;
    color: white;
    text-align: center;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.btn:active { 
    transform: translateY(2px); 
    border: none;
}

.btn:hover {
    border: 2px solid darkcyan;
}